/*===== Estilo card dinamicas =====*/
/* style.css */
.card {
    background-color: #ECEFF1;
}

.card div:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
}
.card a{
background-color: #204C87;
}
.card a:hover{
    background-color: #001D7D;
}
.center-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

