/*===== Contenido (body) =====*/
/* Contenedor con margen inferior */
.container {
    margin-bottom: 5px;
}

/*===== NAVEGACIÓN VERTICAL =====*/
/* Estilo para la barra de navegación vertical */
.vertical-nav {
    margin-top: 50px;
    padding: 0;
    background-color: #F6F6F6;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

/* Estilo para los enlaces en la navegación vertical */
.vertical-nav a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Cambia el color del enlace al pasar el cursor sobre él */
.vertical-nav a:hover {
    background-color: #41538F;
    color: white;
}

/* Estilo para los enlaces dentro de listas */
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Cambia el color del enlace al pasar el cursor sobre él */
li a:hover {
    background-color: #41538F;
    color: white;
}

.custom-btn-lateral {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f3f0f0; /* Fondo claro predeterminado */
    border: 1px solid transparent; /* Quita borde por defecto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade sombreado */
}

/* Cambia el color del botón al pasar el cursor sobre él */
.custom-btn-lateral:hover {
    background-color: #41538F;
    color: white;
    border-color: #41538F; /* Añade borde para mejorar la visibilidad */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Aumenta el sombreado al hacer hover */
}


/**/


.main-content {
    background-color: #F6F6F6; /* Color de fondo para el contenido principal */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    
}

.icon {
    height: 48px;
    margin-right: 10px;
}

.content-section {
    margin-bottom: 20px; /* Espaciado inferior para separar secciones */
}

.card {
    background-color: #ffffff; /* Color de fondo de las tarjetas */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado inferior */
}

.nav-btn {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    color: #000;
    border: none;
    text-align: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;    
}

.nav-btn:hover {
    background-color: #41538F;
    color: white;
}

/**/
/*=== Cards InstitucionDocente ===*/
/* Estilo para las cards personalizadas */
.custom-card {
    align-items: center; /* Centra verticalmente el contenido dentro de la card */
    width: 270px; /* Ancho máximo */
    max-width: 400px; /* Ajusta el ancho máximo de la card */
    height: auto; /* Altura automática según el contenido */
    padding: 20px; /* Ajusta el padding según sea necesario */
    margin: 0 auto 20px; /* Centra las cards horizontalmente y agrega espacio inferior */
}

/* Estilo para las imágenes dentro de las cards */
.custom-card .card-img-top {
    height: 129px; /* Ajusta la altura de la imagen */
    width: 129px;
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
    display: block; /* Asegura que se comporte como elemento de bloque */
    margin: 0 auto 10px; /* Centra horizontalmente y agrega espacio inferior */
}



/* Opcional: ajuste del botón para que ocupe todo el ancho del card */
.custom-card .btn {
    width: 190px;
}

.custom-card .card-title{
    text-align: center;
}

.card a{
    background-color: #204C87;
}

.card a:hover{
    background-color: #001D7D;
}