/* Estilos para botones */
.boton-buscar {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6d6d6d;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  margin-left: 10px;
}
.boton-buscar svg {
  width: 18px;
  height: 18px;
}
.boton-buscar path {
  fill: white;
}
.boton-buscar:hover {
  background-color: #41538F;
}
.boton-buscar:active {
  transform: scale(0.8);
}