/* */
.custom-card-sel {
    background-color: #ECEFF1;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-card-sel .card-body {
    
    text-align: center;
    height: 80px;
}

.custom-card-sel:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-card-sel.selected {
    background-color: #2D4286;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border: 1px solid #2D4286;
    color: white; /* Cambia el color del texto a blanco */
}

.custom-card-sel.selected .card-title {
    color: white; /* Asegúrate de que los títulos también sean blancos */
}
