<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Evadocente</title>
    <link rel="stylesheet" href="./../css/bootstrap.min.css">
    <link rel="stylesheet" href="./../css/footer-styles.css">
    <link rel="stylesheet" href="./../css/styles.css">
</head>
<body>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <p>© 2024 Universidad Autónoma del Estado de Morelos</p>
                </div>
                <div class="col-12 col-md-4">
                    <p>Contacto: info@uaem.mx</p>
                </div>
                <div class="col-12 col-md-4">
                    <p>Redes sociales: [enlaces a redes sociales]</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="./../js/bootstrap.bundle.min.js"></script>
</body>
</html>